<div class="bg-light lter b-b wrapper-md">
    <ul class="breadcrumb bg-white b-a">
        <li><a href=""><i class="fa fa-home"></i>&nbsp;&nbsp;简数科技</a></li>
        <li><a href="">模块管理</a></li>
        <li class="active">模块列表</li>
    </ul>
</div>
<!-- toaster directive -->
<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
<!-- / toaster directive -->
<div>
    <div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="ModulsList">
        <div class="col-lg-4">
            <div class="wrapper-md">
                <div class="line b-b line-lg"></div>
                <div class="m-t-sm m-b-sm">
                    <button ng-click="my_tree.expand_all()" class="btn btn-default btn-sm"><i class="fa fa-plus"></i></button>
                    <button ng-click="my_tree.collapse_all()" class="btn btn-default btn-sm"><i class="fa fa-minus"></i></button>
                    <button ng-click="new_module()" class="btn btn-success btn-sm pull-right"><i class="fa fa-fw m-r-xs fa-plus"></i>新建</button>
                </div>
                <div class="b-a bg-light dk r r-2x">
                    <!-- <span ng-if="doing_async">...loading...</span> -->
                    <abn-tree tree-data="my_data" tree-control="my_tree" on-select="my_tree_handler(branch)" expand-level="2" initial-selection="{{defauleSelect}}" icon-leaf="fa fa-user" icon-expand="fa fa-plus" icon-collapse="fa fa-minus">
                    </abn-tree>
                </div>
            </div>
        </div>
        <div class="col-lg-8 bg-light b-l bg-auto">
            <div class="wrapper-md">
                <div class="line b-b line-lg"></div>
                <div class="text-center">
                    <div class="alert alert-info">当前选中：{{currentSelect.name}}</div>
                </div>
                <div class="line b-b line-lg"></div>
                <!-- <input type="text" class="form-control" > -->
                <div class="form-group">
                    <label>模块名称</label>
                    <input type="text" ng-model="currentSelect.name" class="form-control">
                </div>
                <div class="form-group">
                    <label>模块链接</label>
                    <input type="text" ng-model="currentSelect.url" class="form-control">
                </div>
                <div class="form-group">
                    <label>模块排序</label>
                    <input type="text" ng-model="currentSelect.sort" class="form-control">
                </div>
                <div class="form-group">
                    <label>是否显示</label>
                    <label class="i-switch m-t-xs m-r">
                        <input type="checkbox" ng-model="currentSelect.display" ng-true-value="0" ng-false-value="1">
                        <i></i>
                    </label>
                </div>
                <!-- <input type="text" class="form-control" > -->
                <!-- <div class="input-group"> -->
                <!-- <input ng-model="output" type="text" class="form-control"> -->
                <!-- <span class="input-group-btn"> -->
                <div class="pull-right">
                    <button class="btn btn-success" type="button" ng-click="mod_module()">修改</button>
                    <button class="btn btn-danger" type="button" ng-click="del_module()">删除</button>
                </div>
                <br>
                <br>
                <div class="line b-b line-lg"></div>
                <!-- </span> -->
                <!-- </div> -->
                <!-- <div class="line b-b line-lg"></div> -->
                <!-- <input type="text" class="form-control" > -->
                <!-- <div class="line b-b line-lg"></div> -->
            </div>
        </div>
    </div>
</div>
